<!-- APARTMENT LIST -->
<smart-apartment-list
  *ngIf="!apartmentItemList; else list"
  [apartmentList]="apartmentList"
  [loader]="loader"
  [apartmentItemList]="apartmentItemList"
  [priceRange]="priceRange"
  (selectMarker)="onSelectMarker($event)"
  (openSidenavClick)="onOpenSidenavClick($event)"
></smart-apartment-list>

<!-- APRTMENT LIST ITEM -->
<ng-template #list>
  <smart-apartment-list-item
    [apartmentItemList]="apartmentItemList"
    (removeApartmentItem)="onRemoveApartmentItem($event)"
  ></smart-apartment-list-item>
</ng-template>
