// colors
$primary-color: #1976d2;
$secondary-color: #f2eef5;
$primary-color-contrast: #2196f3;
$bg-color: #f3f6fa;
$primary-text: #010b18;
$secondary-text: #707070;
$icon-color: #c2c3c7;
$icon-bg: #f4f4f4;
$text-white: #ffffff;
$red-color: #eb5757;
$red-pink-color: #ff8888;
$yellow-color: #ffeb3b;
$yellow-light: #ffe392;
$green-light: #3ea819, 70%;
$orange-light: #f2c85c;
$blue-light: #d3dce8;
$grey-color: #333333;
$paragraph-primary: #909090;
$paragraph-secondary: #666666;
$color-black: #000000;

// font-sizes
$main-heading-size: 36px;
$h1-size: 18px;
$title-size: 14px;
$paragraph-size: 14px;
$body-size: 12px;

// breaking points
$break-xs: 360px;
$break-sm: 480px;
$break-md: 767px;
$break-lg: 991px;
$break-ipad: 1024px;
$break-xl: 1199px;
$break-dsk: 1440px;
