<div class="plan">
  <div class="body">
    <!-- PLAN DETAILS -->
    <div class="special-offer" *ngIf="apartmentItem.specials">
      <h4>SPECIALS</h4>
      <p>{{ apartmentItem.specials }}</p>
    </div>

    <mat-divider class="mt-20"></mat-divider>

    <!-- FLOOPLAN LIST -->
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let plan of apartmentItem.floorplans; let i = index"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-description>
            <div
              fxLayout="row"
              fxLayoutAlign="space-between center"
              fxFlex="100"
            >
              <div fxLayout="row">
                <div fxLayout="column">
                  <h4>{{ plan.bed }} Bed, {{ plan.bath }} Bath</h4>
                  <p fxLayout="row">
                    {{ plan.sqft }} sqft
                    <i class="material-icons">arrow_drop_down</i>
                  </p>
                </div>

                <div
                  fxLayout.ht-md="row"
                  fxLayoutAlign="space-between center"
                  class="text"
                  fxHide.lt-md
                >
                  <h4>
                    {{ plan.washerDryer.replace("_", " ") | titlecase }}
                  </h4>
                </div>
              </div>

              <div fxLayout="row">
                <h3>
                  {{ plan.price | currency: "USD":"symbol":"1.0-0" }} &nbsp;
                </h3>

                <h3 *ngIf="plan.priceMax > plan.price">
                  - &nbsp;{{ plan.priceMax | currency: "USD":"symbol":"1.0-0" }}
                </h3>
              </div>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <smart-image-wizard [image]="plan.photoUrl"></smart-image-wizard>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-divider></mat-divider>
  </div>
</div>
